:root {
    --blue: #2c1755;
    --violet: #cbbde6;
    --violet--gark: #6f52a8;

}

body {
    font-family: "Lato", sans-serif;
}

img {
    width: 100%;
}

.container{
    width: 75%;
    margin: auto;
}
p,li{
    font-size: 18px;
    line-height: 1.4;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 75%;
    margin: 40px auto;
}

header a {
    color: var(--blue);
    text-transform: uppercase;
}

header img {
    width: 17%;
}


/* hero */
.hero{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.swiper {
    width: 300px;
    height: 300px;
}
h1{
    color: var(--violet--gark);
}