:root {
    --blue: #2c1755;
    --violet: #cbbde6;
    --violet--gark: #6f52a8;
    --grey--back: #eaeef3;
    --main-grey: #F8F8F8;
    --main-light-grey-font: #2b2b2bd5;

}

body {
    font-family: "Lato", sans-serif;
    padding: 0;
}

img,
video {
    width: 100%;
}

.container {
    width: 75%;
    margin: auto;
}

p,
li {
    font-size: 18px;
    line-height: 1.4;
    margin: 0;
}

.title {
    font-size: 30px;
    text-align: center;
    color: var(--violet--gark);
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 75%;
    margin: 40px auto;
}

header a {
    color: var(--blue);
    text-transform: uppercase;
}

header img {
    width: 17%;
}


/* hero */
.hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 70px auto;
    margin-bottom: 100px;
}

.hero-sw {
    width: 400px!important;
    height: 400px!important;
}

h1 {
    color: var(--violet--gark);
}

.hero-text {
    margin: auto;
}

.hero-text ul li i {
    color: var(--violet--gark);
    margin: 5px;
}

/* ingr */


.ingr {
    background-color: var(--grey--back);
    padding: 40px 0;
    margin: 100px auto;
}

.ingr-h3 {
    position: relative;
    font-size: 24px;
    font-weight: 700;
    color: var(--violet--gark);
}

.ingr-h3::after {
    content: "\276F";
    transform: rotate(90deg);
    display: inline-block;
    position: absolute;
    right: 0;
}

.rotate90::after {
    transform: rotate(90deg);
}

.rotate-90::after {
    transform: rotate(-90deg);
}


/* how-to-use */

.how-to-use {
    margin: 70px auto;
}

video {
    width: 70%;
    display: block;
    margin: 40px auto;
}

/* about */

.about {
    width: 45%;
    margin: auto;
}

.about-div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.about-div p {
    margin: auto 40px;
    font-size: 20px;
}

.about-div p span {
    font-size: 24px;
    display: block;
    font-weight: 900;
    color: var(--violet--gark);
    text-transform: uppercase;
}

/* bullets */
.bullets {
    width: 45%;
    margin: 40px auto;
    margin-bottom: 200px;
}

.bullets ul {

    margin-left: 70px;
    margin-top: -30%;
}

.bullets ul li {
    font-size: 20px;

}

.bullets ul li i {
    color: var(--violet--gark);
    margin: 7px;
}

.description {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin: 100px auto;
}

.description img {
    width: 85%;
    margin: auto;
}

.description ul {
    margin-top: 20px;
}

.description ul li {
    margin: 15px 0;
}

.description ul li b {
    display: block;
    color: var(--violet--gark);
    font-weight: 900;
}



/* faq */
.faq {
    background-color: var(--grey--back);
    padding: 30px 0;
    margin: 40px auto;
    margin-bottom: 0;
}

.faq-div {
    width: 50%;
    margin: auto;
    position: relative;
}

.topic {
    color: var(--violet--gark);
    font-size: 22px;
    font-weight: 700;
    cursor: pointer;
}

.topic::after {
    content: "\276F";
    transform: rotate(90deg);
    display: inline-block;
    position: absolute;
    right: 0;
}

.rotate90::after {
    transform: rotate(90deg);
}

.rotate-90::after {
    transform: rotate(-90deg);
}

.q {
    margin: 15px 0;
    cursor: pointer;
    margin-left: 20px;
}

.a {
    margin-left: 20px;
    border-bottom: 1px solid var(--blue);
    padding-bottom: 7px;
    color: rgba(0, 0, 0, 0.696);
}





/* zones */

.zones h2 {
    font-size: 32px;
    font-weight: 500;
    color: var(--main-light-grey-font);
    text-align: center;
}

.zones-grid {
    display: grid;
    grid-template-columns: 0.8fr 1fr;
    margin: 70px auto;
}

.zone-text {
    padding: 25px 50px;
    background-color: var(--main-grey);
    color: var(--main-light-grey-font);
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 1.4;
    border: 1px solid var(--main-light-grey-font);
    border-radius: 20px;
}

.zone-text h3 {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 20px;
}

.zone-text p {
    width: 85%;
    font-size: 15px;
}

.zone {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.zones-description {
    display: flex;
    padding-left: 0;
}


.zone li {
    text-align: center;

    width: 85%;
    margin: 10px auto;
    margin-right: 0;


}



.zone-li div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.zone-li div p {
    display: block;
    background-color: var(--main-grey);
    color: var(--main-light-grey-font);
    border-radius: 20px;
    padding: 8px 0;
    font-size: 17px;
    font-weight: 600;
    cursor: pointer;
    width: 100%;
}

.zone-li div hr {
    width: 30%;

}

.border {
    border: 1px solid var(--main-light-grey-font);

}




.reviews {
    background-color: var(--grey--back);
    color: var(--main-light-grey-font);
    padding-bottom: 65px;
  }
  
  .reviews h3 {
    font-size: 25px;
    padding-top: 25px;
    margin-top: 0;
    text-align: left;

  }
  
  .reviews-div {
    width: 70%;
    margin: auto;
  }
  .reviews-div p {
    margin-top: 0;
  }
  .stars{
    color: var(--blue);
    font-size: 25px;

  }
 
  
  .review p i {
    font-size: 16px;
    color: var(--violet);
    margin-bottom: 5px;
  }
  
  .review p {
    margin: 0;
  }
 
  
  /* Pagination links */
  .pagination {
    margin: 10px 0;
  }
  .pagination p {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color 0.3s;
  }
  
  /* Style the active/current link */
  .pagination p.active {
    background-color: var(--blue);
    color: white;
  }
  
  /* Add a grey background color on mouse-over */
  .pagination p:hover:not(.active) {
    background-color: #ddd;
  }
  
  .second,
  .third {
    display: none;
  }


  .review {
    display: grid;
    grid-template-columns: 50px 1fr;
    align-items: flex-start;
    column-gap: 20px;
    margin: 20px 0px;
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(43, 43, 43, 0.58);
}

.review span.initials {
    padding: 13px 10px;
    border-radius: 50%;
    background: #d9d9d9;
    color: rgba(43, 43, 43, 0.76);
    font-size: 20px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
}
.review .review-content {
    display: grid;
    grid-template-columns: 170px 1fr;
    align-items: start;
    column-gap: 20px;
}

.review .author {
    font-size: 20px; 
    margin: 0;
}

.review div p {
    font-size: 16px;
    font-style: italic;
    font-weight: 500;
    margin: 10px 0px;
    line-height: 1.3;
    margin: 0;
}

.review-content .verified{
    font-size: 14px;
}

.review-content .comm-text{
    margin: 10px 0;
}




/* order */

.order {
    display: grid;
    grid-template-columns: 1fr 0.8fr;
    margin: 50px auto;
}

 
.order-from {
    margin: auto 0;
    background-color: var(--violet);
    padding: 40px 30px;
}

form {
    display: flex;
    flex-direction: column;
}

form input,
select {
    margin: 5px 0;
    padding: 5px;
}
 

.order-from button {
    text-align: center;
    color: white;
    font-weight: 900;
    background-color: var(--violet--gark);
    padding: 15px;
    border-radius: 15px;
    border: none;
    margin-top: 20px;
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
    cursor: pointer;
    width: 50%;
    margin: 25px auto;
}
.order-sw2{
    width: 500px;
}
.order-sw{
    width: 500px;

}
 



  



/* footer */
.logo-footer{
    width: 12%;
    margin: auto;
}
footer div.links {
    text-align: center;
    margin: 15px;
}

footer a {
    margin: 15px;
    text-align: center;
    text-decoration: none;
    color: black;
}

footer p {
    text-align: center;
}

footer p.disclaimer {
    width: 70%;
    margin: 10px auto;
    letter-spacing: 0;
    line-height: 1;
    font-size: 14px;
}